{% extends 'gastronom/base.html' %}
{% block title %}{{title}}{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-start">
        <div class="col-4 title-in-page">
            Контакты
        </div>
        <article>
            <div class="row">
                <div class="col-sm-5 col-md-4 py-5">
                    <div class="label-text">Нижний Новгород, Архангельская, 5</div>
                    <div class="row justify-content-center">
                        <div class="col-6 py-5">
                            <p class="label-text">Почтовый ящик <br>alekseiz76@yandex.ru</p>
                        </div>
                        <div class="col-6 py-5">
                            <p class="label-text">Режим работы
                                <br> Пн-Вс: 08:00 - 21:00.</p>
                        </div>
                    </div>
                    <div class="row">
                        <p class="label-text">Телефон</p>
                        <a class='tel phone' href="tel:88312128181">8 831 221 22 20 </a>
                    </div>
                </div>
                <div class="col-sm-7 col-md-8">
                    <div class="map">
                        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae86cd8f64e2086ab0ab79a55750a4600af808f03076539a1b227b45bfbad9e1c&amp;source=constructor"
                                width="632" height="402" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
{% endblock content %}
