{% extends 'gastronom/base.html' %}

{% block title %}{{title}}{% endblock title %}

{% block content %}

<div class="container">
    <h2 class="pro-d-title">
        {{comments.last_name}} {{comments.first_name}}
    </h2>
    <div class="m-bot15"><strong>Комментарий: </strong> <br>
        <p class="pro-price" style="word-wrap: break-word;">{{comments.message}}</p>
    </div>
    <p class="m-bot15"><b>Ответить на почту: {{comments.email}}</b></p>
    <br>
    <a href="{% url 'gastronom:comments' %}">
        <button class="btn btn-outline-dark mt-auto" type="button"><i
                class="fa fa-shopping-cart"></i> Вернуться назад
        </button>
    </a>
</div>

{% endblock content %}